@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background: #cc0033;
  }

h1 {
  font-family: 'Lobster', cursive;
  color: #2e5033;
}

.container {
  margin: 0 auto ;
}

.container-lg .px-3 .my-5 .markdown-body {
  display: none;
}

button {
  background: #2e5033;
  
}